@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
:root{
    --primary-color : hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}
body{
    font-family: 'Overpass', sans-serif;
    background-color: var(--veryDarkBlue);
    text-align: left;
    margin-bottom: 0px;
    max-width: 1440px;
}
p{
    font-size: 15px;
}
h2{
    color: var(--white);
}
p,span{
    color: var(--mediumGrey);
}
.rating-card{
    background-color: var(--darkBlue);
    max-width: 500px;
    margin: 150px 450px;
    padding: 2rem;
    border-radius: 1.5rem;
}
.submit{
    display: block;
    margin: 10px;
    margin-top: 30px;
}
span{
    padding: 1.5rem;
    margin: 10px 5px;
    border: 1px solid var(--veryDarkBlue);
    border-radius: 4rem
}
.rating{
    margin: 10px;
    padding: 0.3rem 0rem;
}