@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
:root{
    --primary-color : hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}
body{
    font-family: 'Overpass', sans-serif;
    background-color: var(--veryDarkBlue);
    text-align: left;
    margin-bottom: 0px;
    max-width: 1440px;
}
p{
    font-size: 15px;
}
h2{
    color: var(--white);
}
p,span{
    color: var(--lightGrey);
}
.rating-card{
    background-color: hsl(220, 15%, 15%);
    max-width: 400px;
    margin: 100px 450px;
    padding: 2rem 1rem;
    border-radius: 1.5rem;
}
.submit{
    display: block;
    margin: 10px;
    margin-top: 30px;
}
span{
    padding: 1.2rem 1.5rem;
    margin: 10px 5px;
    border: 1px solid var(--darkBlue);
    background-color: var(--darkBlue);
    border-radius: 7rem;
    cursor: pointer;
   
}
.rating{
    margin: 50px 17px;
    padding: 0rem 0rem;
}
.rating-card p{
    margin: 10px 0px;
}
.submit{
    font-family: 'Overpass', sans-serif;
    text-align: center;
    padding: 1rem 10rem;
    color: var(--white);
    font-size: 15px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
}
.rating-card img{
    margin: 7px 12px;
    border: 1px solid var(--darkBlue);
    background-color: var(--darkBlue);
    padding: 1rem;
    border-radius: 5rem;
}
span:hover {
    color: var(--white);
    background-color: var(--mediumGrey);
    border: 1px solid var(--mediumGrey);
    font-weight: bold;
}
.selected{
    color: var(--white);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-weight: bold;
}
.submit:hover{
    color: var(--primary-color);
    background-color: var(--white);
    border: 1px solid var(--white);
}
.disabled{
    pointer-events: none;
}
.thank-you{
    background-color: hsl(220, 15%, 15%);
    max-width: 340px;
    margin: 120px 490px;
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    text-align: center;
}
.user-rate{
    color: var(--primary-color);
    border: 1px solid var(--darkBlue);
    background-color: var(--darkBlue);
    display: inline-block;
    margin: 15px 20px;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    font-size: 14px;
}
.attribution{
    color: var(--primary-color);
    /* font-size: 10px; */
    margin: 0px;
}
@media screen and (min-width:375px) and (max-width:1000px) {
    body{
        padding: 0;
        margin: 0;
        font-size: 13px;
    }
    .rating-card{
        max-width: 300px;
        margin: 120px 20px;
        padding: 1rem 1rem;
    }
    .submit{
        padding: 1rem 7rem;
    }
    .span{
        padding: 1rem 1.1rem;
        margin: 10px 3px;
        border-radius: 5rem;
    }
    span:hover {
        color: var(--white);
        background-color: var(--mediumGrey);
        border: 1px solid var(--mediumGrey);
        font-weight: bold;
    }
    .submit:hover{
        color: var(--primary-color);
        background-color: var(--white);
        border: 1px solid var(--white);
    }
    .thank-you{
        max-width: 300px;
        margin: 150px 20px;
        padding: 1rem 1rem;
    }
    .selected{
        color: var(--white);
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        font-weight: bold;
    }

}